.cardFanContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 200px;
  padding-top: 50px;
}

.cardWrapper {
  position: absolute;
  bottom: 0;

  transform: translateX(var(--translate-x));

  transition: transform 0.25s ease-out;
  cursor: pointer;

  &:hover {
    transform: translateX(var(--translate-x)) translateY(-40px);
    z-index: 10;
  }
}
