.Chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .messagesContainer {
    display: flex;
    flex-direction: column;
    padding: $spacing-s;
    overflow-y: auto;
    height: 100%;
    gap: $spacing-m;

    scrollbar-width: thin;
    scrollbar-color: #bcbcbc transparent;

    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-button {
      display: none;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #bcbcbc;
      border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #999999;
    }
  }

  .messageForm {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 30%;

    .messageBox {
      overflow-y: auto;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;

      .autoScroll {
        padding: $spacing-s;
        cursor: pointer;
        border-radius: 5px;
        transition: 200ms;

        &:hover,
        &.active {
          background-color: lightgray;
        }
      }

      input {
        background-color: white;
        border-radius: 5px 0 0 5px;
        padding: $spacing-s $spacing-m;
        border: 1px solid gray;
        transition: 200ms;
        width: 100%;

        &:focus-within {
          border-color: black;
        }
        &:focus-visible {
          outline: none;
        }
      }
    }

    button {
      padding: $spacing-s;
      height: 42px;
      color: black;
      border-radius: 0 5px 5px 0;
      font-weight: bold;
      letter-spacing: 2px;
      background-color: $primary-color;
      &:hover {
        background-color: lighten($primary-color, 10);
      }

      &:active {
        background-color: darken(lightgray, 10);
        color: lighten($color: black, $amount: 20);
      }
    }
  }
}
