.Chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;
    background: generate-gradient($secondary-color);
    padding: $spacing-s;
  }

  .messagesContainer {
    display: flex;
    flex-direction: column;
    padding: $spacing-s;
    background: generate-gradient(lightgray);
    overflow-y: auto;
    height: 100%;
    gap: $spacing-m;
  }

  .messageForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-height: 30%;

    .messageBox {
      background-color: white;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $spacing-s;
      gap: $spacing-s;

      .microphone {
        padding: $spacing-s;
        cursor: pointer;
        border-radius: 25px;
        transition: 200ms;

        &:hover,
        &.active {
          background-color: lightgray;
        }
      }

      input {
        border-radius: 25px;
        padding: $spacing-s $spacing-m;
        background-color: transparent;
        border: 1px solid gray;
        transition: 200ms;
        width: 50%;

        &:focus-within {
          border-color: black;
        }
      }
    }

    button {
      padding: $spacing-s;
      color: black;
      height: 100%;
      font-weight: bold;
      letter-spacing: 2px;
      background-color: white;

      &:hover {
        background-color: lightgray;
        color: lighten($color: black, $amount: 20);
      }

      &:active {
        background-color: darken(lightgray, 10);
        color: lighten($color: black, $amount: 20);
      }
    }
  }
}
