.Chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  min-height: 0;
  padding: $spacing-m;
  overflow: hidden;
  background-color: rgba($color-panel-deep, 0.9);

  .header {
    width: 100%;
    display: flex;
    padding-bottom: $spacing-s;
    justify-content: end;
    color: $color-white;
    cursor: pointer;

    svg {
      color: $color-accent-teal;
    }
  }

  .loadingMessage {
    color: $color-white;
  }

  .messagesContainer {
    display: flex;
    flex-direction: column;
    padding: $spacing-s;
    overflow-y: auto;
    flex: 1;
    gap: $spacing-m;

    scrollbar-width: thin;
    scrollbar-color: $color-accent-teal transparent;

    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-button {
      display: none;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background-color: $color-accent-teal;
      border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: $color-primary-hover;
    }
  }

  .messageForm {
    display: flex;
    align-items: center;
    width: 100%;
    gap: $spacing-s;
    padding-top: $spacing-s;
  }
}
