.CreateRoom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-l;
  height: 100%;
  width: 100%;
  margin: 0 auto;

  .menuContent {
    width: 70%;
    height: 100%;
    position: relative;
    background-color: rgba(black, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-m;
    .input {
      border-radius: $border-radius;
      border: 1px solid #ccc;
      padding: $spacing-m;
      font-size: 20px;
      font-weight: 300;
    }

    .playersForm {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      gap: $spacing-m;
      button {
        padding: $spacing-xs $spacing-m;
        font-size: 36px;

        border-radius: 10px;
        &:hover {
          background-color: lighten($color: $primary-color, $amount: 20);
        }
        &:active {
          background-color: darken($color: $primary-color, $amount: 5);
        }
        &.selected {
          background-color: $primary-color;
        }
      }
    }
    .createButton {
      width: 30%;
      display: flex;
      margin-top: $spacing-l;
      justify-content: center;
      border-radius: $border-radius;
      align-items: center;
      color: white;
      background-color: $primary-color;
      gap: $spacing-s;
      padding: $spacing-m;
      font-size: 1.25rem;
      cursor: pointer;

      &:enabled {
        &:hover {
          background-color: lighten($color: $primary-color, $amount: 20);
        }
        &:active {
          background-color: darken($color: $primary-color, $amount: 5);
        }
      }
      &:disabled {
        cursor: pointer;
        background-color: #ccc;
        cursor: not-allowed;
      }
    }

    .errorFeedback {
      color: red;
      font-size: 12px;
      margin-top: $spacing-s;
    }
  }
}

@media (max-width: 768px) {
  .ModalRoot {
    width: 80%;
  }
}
