.Game {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ocupa 100% da altura da célula do grid pai */
  width: 100%;
  overflow: hidden; /* Garante que nada vaze */
  gap: 1rem; /* Espaçamento opcional entre HUD, Mesa e Mão */
  padding: 1rem 0; /* Adiciona um respiro vertical */

  .playedCards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .deckItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .deckLabel {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px black;
  }
  .actionsArea {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: $spacing-m;
    button {
      font-size: 1.25rem;
      padding: $spacing-s $spacing-s;
      border-radius: $border-radius;
      transition: background-color 0.3s;
      color: white;
      &:disabled {
        background-color: gray;
        opacity: 0.5;
        cursor: not-allowed;
      }
      &:enabled {
        background-color: $primary-color;
        &:hover {
          background-color: lighten($primary-color, 10);
        }
        &:active {
          background-color: darken($primary-color, 10);
        }
      }
    }
  }

  .deckAreaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .TrucoHud {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    width: 100%;
    .currentBet {
      display: flex;
      align-items: center;
      gap: $spacing-m;
    }

    .currentBet span {
      font-size: 2.5rem;
      display: inline-block;
    }
  }

  .trucoActions {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 130%;
    top: 90%;
    transform: translateY(-50%);
    right: -10%;
    align-items: center;
    z-index: 2;

    .acceptReject {
      display: flex;
      flex-direction: column;
      gap: $spacing-s;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    max-width: 50vw;
  }
}

@media (max-width: 768px) {
  .Game {
    height: 80%;
    .actions {
      width: 160%;
      right: -30%;

      button {
        font-size: 1.25rem;
        padding: $spacing-xs;
        max-width: 100px;
      }
    }

    .gameTable {
      display: flex;
      justify-content: center;
      height: 400px;
      width: 70%;
    }

    .cardTable {
      height: 150px;

      div {
        width: 32%;
      }
    }
  }
}
