.Game {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;

  .actions {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 190%;
    top: 50%;
    transform: translateY(-50%);
    right: -43%;
    z-index: 2;

    button {
      background-color: $primary-color;
      font-size: 1.75rem;
      transition: background-color 0.3s;
      word-break: break-all;
      max-width: 250px;
      padding: $spacing-s;
      color: white;
      &:hover {
        background-color: lighten($primary-color, 10);
      }
      &:active {
        background-color: darken($primary-color, 10);
      }
    }
  }

  .gameTable {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 600px;
  }

  .cardTable {
    height: 125px;
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-s;

    div {
      width: 32%;
    }
  }
}

@media (max-width: 768px) {
  .Game {
    height: 80%;
    .actions {
      width: 160%;
      right: -30%;

      button {
        font-size: 1.25rem;
        padding: $spacing-xs;
        max-width: 100px;
      }
    }

    .gameTable {
      display: flex;
      justify-content: center;
      height: 400px;
      width: 70%;
    }

    .cardTable {
      height: 150px;

      div {
        width: 32%;
      }
    }
  }
}
