@use 'variables' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;


.darkBg {
  background: $gradient-background;
}

.spacing-s {
  margin: $spacing-s;
}

.spacing-m {
  margin: $spacing-m;
}

.spacing-l {
  margin: $spacing-l;
}