.Home {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: $spacing-s;
    border-radius: 5px;
    justify-content: space-around;
    background-color: $primary-color;
    align-items: center;
  }

  .authMethods {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    gap: $spacing-m;
    .google {
      display: flex;
      align-items: center;
      border-radius: 50px;
      overflow: hidden;
      background-color: white;
      justify-content: space-around;
      padding: $spacing-s;
      gap: $spacing-xs;
      font-size: 0.9rem;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .title {
    color: $secondary-color;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .rulesButton {
    cursor: pointer;
    color: white;
    font-size: 0.95rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
