.LobbyContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $spacing-m;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  background-color: rgba(black, 0.2);

  .waiting {
    text-align: center;
    font-size: 3rem;
    color: white;
  }
  .startGame {
    font-size: 1.5rem;
    padding: $spacing-s;
    color: white;
    font-weight: bold;
    background-color: #32cd32;
    border-radius: 6px;
    &:hover {
      background-color: lighten($color: #32cd32, $amount: 10);
    }
    &:active {
      background-color: darken($color: #32cd32, $amount: 10);
    }
  }

  .statusButton {
    text-align: center;
    border-radius: 6px;
    width: 50%;
    padding: $spacing-s;

    &.notReady {
      background-color: white;
      color: darken(#32cd32, 20);

      &:hover {
        background-color: lighten($color: #32cd32, $amount: 30);
      }
    }

    &.ready {
      background-color: #32cd32;
      color: white;

      &:hover {
        background-color: lighten($color: #32cd32, $amount: 10);
      }
    }
  }
}
