.LobbyContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-m;
  width: 50%;
  margin: 0 auto;
  align-items: center;

  .waiting {
    text-align: center;
    margin: $spacing-m 0;
    color: white;
  }

  .statusButton {
    text-align: center;
    border-radius: 6px;
    width: 50%;
    padding: $spacing-s;

    &.notReady {
      background-color: white;
      color: darken(#32cd32, 20);

      &:hover {
        background-color: lighten($color: #32cd32, $amount: 30);
      }
    }

    &.ready {
      background-color: #32cd32;
      color: white;

      &:hover {
        background-color: lighten($color: #32cd32, $amount: 10);
      }
    }
  }
}
