.RootLayout {
  height: 100vh;
  width: 100vw;
}

.Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-l;
  height: 100%;
  width: 100%;
  margin: 0 auto;

  .menuContent {
    width: 70%;
    height: 100%;
    position: relative;
    background-color: rgba(black, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-l;

    .menuActions {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: $spacing-l;
    }
  }
}

.MenuButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: $spacing-l $spacing-m;
  gap: $spacing-m;
  position: relative;

  .menuLabel {
    color: $secondary-color;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
  }

  &:disabled {
    cursor: unset;
    background-color: gray;

    .menuLabel,
    .menuIcon {
      color: white;
    }
  }

  &:enabled {
    background-color: $primary-color;
    color: white;
    &:hover {
      background-color: lighten($primary-color, 10);
    }
  }

  .menuIcon {
    color: $secondary-color;
    width: 20%;
  }
}
