.RootLayout {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-l;
  height: 100%;
  width: 100%;
  margin: 0 auto;

  .menuContent {
    width: 70%;
    height: 100%;
    position: relative;
    background-color: rgba(black, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-l;

    .menuActions {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: $spacing-l;
    }
  }
}
