.Opponent {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  .avatar {
    border-radius: 50%;
    &.isTurn {
      box-shadow: 0 0 10px 3px $primary-color;
    }
  }
  .trucoAskedBy {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: $primary-color;
    position: absolute;
    top: -20px;
    left: -10px;
  }

  .name {
    color: #fff;
    font-size: 14px;
    margin-top: 8px;
  }

  .infoBox {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s ease-in-out,
      visibility 0.3s ease-in-out;
  }

  &:hover .infoBox {
    opacity: 1;
    visibility: visible;
  }
}
