.roomContainer {
  display: flex;
  height: 100vh;
}
.playersHud {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  gap: $spacing-l;
  width: 30%;

  .Player {
    padding: $spacing-s $spacing-m;
    background-color: rgba(white, 0.1);
    border-radius: 0 25px 25px 0;
    display: flex;
    gap: $spacing-m;
    .avatar {
      height: 100px;
      border: 4px solid lightgray;
      position: relative;
      width: 100px;
      border-radius: 25px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      transition: all 0.3s ease;
      overflow: hidden;
    }

    .metadata {
      display: flex;
      flex-direction: column;
      .username {
        color: $primary-color;
        font-size: 1.05rem;
      }

      .playerStatus {
        font-size: 2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;

        &.ready {
          color: $success-color;
        }
        &.notReady {
          color: red;
        }
      }
    }
  }

  .roomActions {
    display: flex;
    padding: $spacing-m;
    gap: $spacing-s;
    justify-content: space-between;
    .actionButton {
      color: white;
      display: flex;
      justify-content: center;
      border-radius: 4px;
      padding: $spacing-m $spacing-s;
      width: 50%;
      &.outline {
        background-color: transparent;
        color: white;
        span {
          font-size: 1.25rem;
          color: white;
        }
        &:hover {
          background-color: $primary-color;
          color: $primary-color;
        }
      }
    }
  }
}
.roomChat {
  height: 500px;
  overflow-y: auto;
  position: fixed;
  bottom: 0;
  left: 0;
}

@media (max-width: 768px) {
  .roomContainer {
    flex-direction: column-reverse;
    .playersHud {
      flex-grow: 1;
      overflow-y: auto;
      width: 100%;
      align-items: center;

      .Player {
        width: 100%;
        .avatar {
          width: 80px;
          height: 80px;
        }
        .metadata {
          .username {
            font-size: 1rem;
          }
          .playerStatus {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
