.Table {
  position: relative;
  width: 600px;
  height: 600px;
  margin: $spacing-l auto;

  background: $gradient-background;
  border-radius: 10%;
  border: 4px solid gray;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  .player {
    position: absolute;
    width: 100px;
    height: 80px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .remaining {
    position: absolute;
    width: 100px;
    height: 80px;
    z-index: 2;
    color: red;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 0;
    color: white;
    left: -100px;
  }
}


@media (max-width: 768px) {
  .Table {
    width: 100%;
    height: 90%;
    .player {
      width: 80px;
      height: 60px;
    }
    .remaining {
      width: 80px;
      height: 60px;
      font-size: 3rem;
      left: -40px;
    }
  }
}