.Table {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 20px auto;

  background: #228b22;
  border-radius: 50%;
  border: 4px solid #333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.player {
  position: absolute;
  width: 100px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
