.UserCard {
  width: 100%;
  display: flex;
  padding: $spacing-s;
  justify-content: center;
  align-items: center;
  gap: $spacing-l;
  background-color: rgba(white, 0.15);

  .avatar {
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    transition: all 0.3s ease;

    &.small {
      width: 72px;
      height: 72px;
    }

    &.medium {
      width: 112px;
      height: 112px;
    }

    &.large {
      width: 160px;
      height: 160px;
    }

    &.ready {
      border: 6px solid lightgreen;
      box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }

    &.notReady {
      border: 6px solid lightgray;
    }

    img {
      object-fit: cover;
    }

    .placeholderAvatar {
      font-size: 32px;
      color: #888;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    color: $primary-color;

    .title {
      font-size: 2rem;
      font-weight: bold;
    }

    .email {
      font-size: 0.875rem;
      color: lightgray;
    }
  }
}
