@use "../design-system/tokens" as *;

.separator {
  display: flex;
  align-items: center;
  padding: $spacing-s 0;
  width: 100%;
}

.line {
  height: 1px;
  background-color: $color-white;
  flex: 1;
}

.text {
  text-align: center;
  width: 100%;
  color: $color-white;
}
